# Ignore environment file with secrets
.env

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore other temporary files
*.log
.DS_Store
.BU of v2 script.py
.backupV2withmanualbuttons.py
Contact list DO NOT PUBLISH INTERNAL ONLY.xlsx
*Contact list
.Contact list DO NOT PUBLISH INTERNAL ONLY.xlsx
